@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222222;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #222222;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif, Plus Jakarta Sans;
}
